@{
    ViewData["Title"] = "SpicyCo - Підтвердження електронної адреси";
}



<div class="card">
    <div class="box">
        <div class="img">
            <img src="~/images/logo.png">
        </div>
        <h2>Дякуємо Вам<br><span>Електронна адреса підтверджена</span></h2>
        <p>
           Тепер Ви можете зайти на наш сайт і зробити замовлення
        </p>
        <a class="btn btn-primary btn-block" href="/login">Увійти</a>
    </div>
</div>