<div class="container">
        <br>
        <br>
        <div class="row" id="ads">
          <!-- Category Card -->
          <div class="col-md-4">
            <div class="card rounded">
              <div class="card-image">
                <span class="card-notify-badge">Натуральні</span>
                <img class="img-fluid" src="/images/green.jpg" alt="Alternate Text" />
              </div>
              <div class="card-image-overlay m-auto">
                <span class="card-detail-badge">Завжди доступні</span>
              </div>
              <div class="card-body text-center">
                <div class="ad-title m-auto">
                  <h5>Спеції та прянощі</h5>
                </div>
      
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card rounded">
              <div class="card-image">
                <span class="card-notify-badge">Справжні</span>
                <img class="img-fluid" src="/images/curcum.jpg" alt="Alternate Text" />
              </div>
              <div class="card-image-overlay m-auto">
                <span class="card-detail-badge">Без підсилювачів смаку та барвників</span>
              </div>
              <div class="card-body text-center">
                <div class="ad-title m-auto">
                  <h5>Для сімейної кухні та бізнесу</h5>
                </div>
              </div>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="card rounded">
              <div class="card-image">
                <span class="card-notify-badge">Свіжі</span>
                <img class="img-fluid" src="/images/papric.jpg" alt="Alternate Text" />
              </div>
              <div class="card-image-overlay m-auto">
                <span class="card-detail-badge">В будь яку пору року</span>
              </div>
              <div class="card-body text-center">
                <div class="ad-title m-auto">
                  <h5>Для будь-якої страви</h5>
                </div>
              </div>
            </div>
          </div>
      
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-center text-uppercase">Ознайомтесь із нашим асортиментом</h5>
                <ul class="list-group">
                  <li class="list-group-item">Наша компацнія <strong>SpicyCo</strong> займається роздрібною та оптовою торгівлею спеціями</li>
                  <li class="list-group-item">Купуючи спеції та прянощі в нас ви можете бути певні у відмінній якості</li>
                  <li class="list-group-item">Ми відправляємо замовлення усіма доступними службами доставки України</li>
                </ul>
                <a [routerLink]='["/products"]' class="btn btn-primary mt-2 btn-block"><h5>Перейти до каталогу спецій</h5></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-center text-uppercase">Як з нами зв'язатись</h5>
                <ul class="list-group">
                  <li class="list-group-item">Ви можете написати нам за електронною адресою <strong>spicyco88@gmail.com</strong></li>
                  <li class="list-group-item">Зателефонувати нам за номером <strong>+38(066)0990660</strong> наші консультанти нададуть Вам всю потрібну інформацію</li>
                  <li class="list-group-item">Користуючись нашим каталогом Ви можете одразу зробити замовлення</li>
                </ul>
                <a [routerLink]='["/CallRequire"]' class="btn btn-primary mt-2 btn-block"><h5>Залишити заявку на зворотній зв'язок</h5></a>
              </div>
            </div>
          </div>
        </div>
      </div>